<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.catguild.auth.repository.mapper.GuildMapper">

    <resultMap id="baseResult" type="cn.catguild.auth.repository.domain.GuildDO">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="code" property="code"/>
        <result column="avatar" property="avatar"/>
        <result column="register_country" property="registerCountry"/>
        <result column="register_province" property="registerProvince"/>
        <result column="register_city" property="registerCity"/>
        <result column="register_address" property="registerAddress"/>
        <result column="status" property="status"/>
        <result column="created_time" property="createdTime"/>
        <result column="last_modified_time" property="lastModifiedTime"/>
    </resultMap>

</mapper>
