[[source]]
#url = "https://pypi.org/simple"
url = "https://mirrors.aliyun.com/pypi/simple/"
verify_ssl = true
name = "pypi"

[packages]
pycurl = {path = "./whl/pycurl-7.45.1-cp311-cp311-win_amd64.whl"}
scrapy = "*"
scrapyd = "*"
scrapyd-client = "*"
scrapydweb = "*"
sqlalchemy = ">=1.2.15,<1.4.0"
werkzeug = "==2.0.2"
apscheduler = "==3.9.1"

[dev-packages]

[requires]
python_version = "3.11"
python_full_version = "3.11.2"
