<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.catguild.auth.infrastructure.repository.mapper.TenantDOMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.catguild.auth.infrastructure.repository.domain.entity.TenantDO">
        <id column="id" property="id"/>
        <result column="uid" property="uid"/>
        <result column="name" property="name"/>
        <result column="email" property="email"/>
        <result column="remarks" property="remarks"/>
        <result column="active_status" property="activeStatus"/>
        <result column="domain_name" property="domainName"/>
        <result column="create_by" property="createBy"/>
        <result column="create_time" property="createTime"/>
        <result column="last_modify_by" property="lastModifyBy"/>
        <result column="last_modify_time" property="lastModifyTime"/>
        <result column="is_deleted" property="isDeleted"/>
        <result column="deleted_by" property="deletedBy"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, uid, name, email, remarks, active_status, domain_name, c_by, c_time, lm_by, lm_time, de_by, de_time
    </sql>
    <select id="selectByDomainName" resultMap="BaseResultMap">
        SELECT *
        FROM auth_tenant
        WHERE domain_name = #{domainName}
    </select>

</mapper>
