<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.catguild.system.infrastructure.repository.mapper.AppDOMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.catguild.system.infrastructure.domain.AppDO">
        <id column="id" property="id" />
        <result column="parent_id" property="parentId" />
        <result column="name" property="name" />
        <result column="describe" property="describe" />
        <result column="active_status" property="activeStatus" />

        <result column="c_by" property="cBy" />
        <result column="c_time" property="cTime" />
        <result column="lm_by" property="lmBy" />
        <result column="lm_time" property="lmTime" />
        <result column="de_by" property="deBy" />
        <result column="de_time" property="deTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, parent_id, name, describe, active_status, c_by, c_time, lm_by, lm_time, de_by, de_time
    </sql>

</mapper>
