<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.catguild.system.infrastructure.repository.mapper.AppMenuDOMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.catguild.system.infrastructure.domain.relation.AppMenuDO">
        <id column="id" property="id" />
        <result column="appId" property="appId" />
        <result column="menuId" property="menuId" />

        <result column="c_by" property="cBy" />
        <result column="c_time" property="cTime" />
        <result column="lm_by" property="lmBy" />
        <result column="lm_time" property="lmTime" />
        <result column="de_by" property="deBy" />
        <result column="de_time" property="deTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, appId, menuId, c_by, c_time, lm_by, lm_time, de_by, de_time
    </sql>

</mapper>
